body {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  border: none;
position: absolute;
transform: translateY(-50%);
margin-top: 50%;
background-color: white;
cursor: pointer;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
}

button:hover {
  background-color: rgb(224, 224, 224);
}